.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(30, 30, 30);
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(30,30,30));
  color: white;
  margin-bottom: 100vh;
}

.container *::selection {
  background: #aefa9b;
  color: #1e1e1e;
}

.grid {
  height: 80%;
  width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}