.container {
  background-color: rgba(0, 0, 0, 0.5);
  color: #aefa9b;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
}

.container a {
  padding: 0 1rem;
}

.container *::selection {
  background: none;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}