.container {
  height: 6rem;
  width: 20rem;
  border: 2px solid #aefa9b;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 1s ease-in-out;
}

.container:hover {
  border: none;
  transform: scale(1.5);
}

.container img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px 4px #e7f5bf;
  display: none;
}

.container:hover img {
  display: block;
}

@media only screen and (max-width: 1500px) {
  .container:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 450px) {
  .container:hover {
    border: 2px solid #aefa9b;
    transform: scale(1.1);
  }
  
  .container:hover img {
    display: none;
  }
}