.container {
  color: #aefa9b;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  z-index: -1;
}

.container h1 {
  font-size: 4rem;
}

.container h2 {
  font-size: 3rem;
}

.container div {
  display: flex;
}

.container a {
  display: block;
  margin: 5rem;
}

.container i {
  font-size: 10rem;
  transition: all 0.5s;
}

.container i:hover {
  transform: scale(1.2);
  color: #e7f5bf;
}

.container *::selection {
  background: #aefa9b;
  color: #1e1e1e;
}

@media only screen and (max-width: 1000px) {
  .container div {
    flex-direction: column;
  }

  .container a {
    display: block;
    margin: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .container i {
    font-size: 5rem;
  }

  .container h1 {
    font-size: 2.5rem;
  }
  
  .container h2 {
    font-size: 2rem;
  }
}
